<div>
    <div>
        <table>
            <thead>
                <td>
                    To Dos
                </td>
                <td>
                    Update
                </td>
                <td>
                    Delete
                </td>
            </thead>
            <tbody>
                <tr *ngFor = "let toDO of toDos">
                    <td>{{toDO.description}}</td>
                    <td>
                        <button routerLink ="/updateToDo/{{toDO.id}}">Update</button>
                    </td>
                    <td>
                        <button (click) = "deleteToDo(toDO)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button routerLink = "/createNewToDo">Add New ToDo</button>
    </div>
</div>