    <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Add to dos</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="toDoForm" (ngSubmit)="onSubmit()">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" formControlName="description" required>
                                </td>
                                <td>
                                    <button mat-raised-button color="primary" type="submit" >Submit</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </mat-card-content>    
        </mat-card>
    </div>
