mat-card{
    width: 100%;
    margin: auto;
}
mat-card-title{
    text-align: center;
}
table{
    width: 90%;
    margin: auto;
}
input{
    height: 25px;
}
td:first{
    width: 90%;
}
.example-full-width {
    width: 100%;
}